.listBook__nameBook {
    text-align: center;
    word-wrap: break-word
}

.listBook__authorBook {
    text-align: center;
    margin-bottom: 55px;
    word-wrap: break-word
}

.listBook {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.listBook__infoBlock {
    display: flex;
    word-break: break-word;

}

.listBook_img {
    max-width: 100%;
    height: auto;
    display: block;
}

.listBook__textBlock {
    margin: auto;
}

.list__containerImg {
    width: 145px;
    height: 205px;
    margin: auto;

}

.form__header {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}

.upload__block {
    margin: auto;
}

.addButton {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.listNoBook {
    margin: auto;
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
}
